.content-body {
    background-image: url('../img/background-all.jpg');
    background-size: cover;
    width: 100%;
    height: 59.59rem;
    padding: 6%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-body > .text-accueil {
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-body > .text-accueil > hr {
    width: 140%;
}

.content-body > .text-accueil > h1 {
    display: flex;
    flex-direction: row;
    font-size: xxx-large;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 6%;
}


.cards > .card {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards > .card > h3 {
    margin-top: 5%;
    color: orange;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: x-large;
    width: max-content;
}

/*RESPONSIVE*/

@media (max-width: 1560px){
    .content-body {
        height: 47rem;
    }
}
@media (max-width: 430px){
    .content-body {
        height: 59.2rem;
    }
    .cards {
        flex-direction: column;
        align-items: center;
    }
    .cards > .card {
        width: 100%;
        margin-bottom: 5%;
    }

}

@media (max-width: 414px){
    .content-body {
        height: 59.2rem;
    }
}

@media (max-width: 390px){
    .content-body {
        height: 59.2rem;
    }
}

@media (max-width: 375px){
    .content-body {
        height: 59.2rem;
    }
}